In [1]:
import os
import pandas as pd

In [95]:
iv_path = "/Users/mac/Desktop/Study/Diploma/data/instrument/iv.parquet"

df = pd.read_parquet(iv_path)

df

       okved_four   product  code  year    weight  weight_c  tariff
0           01.11   10210.0   496  2005  0.000379  0.953193    0.00
1           01.11   10410.0   496  2005  0.000019  0.046807    0.00
2           01.11   30212.0   156  2005  0.000132  0.008326   10.00
3           01.11   70110.0    31  2005  0.000583  0.057424    7.75
4           01.11   70190.0   804  2005  0.000935  0.068526     NaN
...           ...       ...   ...   ...       ...       ...     ...
488451      96.09  700992.0   428  2009  0.022189  1.000000    4.00
488452      96.09  720449.0   156  2009  0.328798  0.352429    0.00
488453      96.09  730210.0   156  2009  0.376739  0.403815    6.00
488454      96.09  732690.0   156  2009  0.074668  0.080034    9.25
488455      96.09  842839.0   398  2009  0.044861  1.000000    0.00

[488456 rows x 7 columns]

In [2]:
EU = [
    (40, 1995),
    (56, 1957),
    (100, 2007),
    (348, 2004),
    (276, 1957),
    (300, 1981),
    (208, 1973),
    (372, 1973),
    (724, 1986),
    (380, 1957),
    (196, 2004),
    (428, 2004),
    (440, 2004),
    (442, 1957),
    (470, 2004),
    (528, 1957),
    (616, 2004),
    (620, 1986),
    (642, 2007),
    (703, 2004),
    (705, 2004),
    (246, 1995),
    (250, 1957),
    (203, 2004),
    (752, 1995),
    (233, 2004),
    (826, 1957)
]

EU_DICT = {key: val for key, val in EU}

In [3]:
def code_to_reporter(item):
    code = item.code
    current_year = item.current_year

    if code in EU_DICT.keys():
        entry_year = EU_DICT[code]
        if current_year >= entry_year:
            return 918
    return code

In [91]:
weights_path = "/Users/mac/Desktop/Study/Diploma/data/instrument/weights.parquet"
tariffs_path = "/Users/mac/Desktop/Study/Diploma/data/instrument/tariffs.parquet"

weights = pd.read_parquet(weights_path)\
            .assign(ProductCode=lambda x: x["product"].astype(int))
tariffs = pd.read_parquet(tariffs_path)

result = []
for year in [2005, 2006, 2007, 2008, 2009]:
    df = weights.assign(
        current_year=year,
        Reporter_ISO_N=lambda x: x.apply(code_to_reporter, axis=1)
    )
    result.append(df)

result = pd.concat(result)

print(len(result))

df = result.merge(tariffs, on=["Reporter_ISO_N", "ProductCode", "current_year"], how="inner")

print(len(df))

#df = df.assign(instrument = lambda x: x.weight * x.SimpleAverage)

#df = df.groupby(["okved_four", "current_year"])["instrument"].sum().reset_index()

512820
488456

In [93]:
df

,okved_four,product,code,weight,weight_c,ProductCode,current_year,Reporter_ISO_N,NomenCode,Year,SimpleAverage,country
0,01.11,10210.0,496,0.000379,0.953193,10210,2005,496,H2,2005,0.00,MNG
1,01.11,10410.0,496,0.000019,0.046807,10410,2005,496,H2,2005,0.00,MNG
2,01.11,30212.0,156,0.000132,0.008326,30212,2005,156,H2,2005,10.00,CHN
3,01.11,70110.0,31,0.000583,0.057424,70110,2005,31,H2,2005,7.75,AZE
4,01.11,70190.0,804,0.000935,0.068526,70190,2005,804,H1,2002,NaN,UKR
...,...,...,...,...,...,...,...,...,...,...,...,...
488451,96.09,700992.0,428,0.022189,1.000000,700992,2009,918,H3,2009,4.00,EUN
488452,96.09,720449.0,156,0.328798,0.352429,720449,2009,156,H3,2009,0.00,CHN
488453,96.09,730210.0,156,0.376739,0.403815,730210,2009,156,H3,2009,6.00,CHN
488454,96.09,732690.0,156,0.074668,0.080034,732690,2009,156,H3,2009,9.25,CHN
488455,96.09,842839.0,398,0.044861,1.000000,842839,2009,398,H3,2008,0.00,KAZ

In [63]:
df.sort_values(by="instrument")[:50]

    okved_four  instrument
66       11.03    0.000000
458      86.90    0.000000
350      47.53    0.000000
361      47.76    0.000000
428      74.30    0.000000
15       01.62    0.000000
367      49.32    0.000000
474      96.03    0.000000
430      75.00    0.000000
202      27.31    0.000000
410      65.11    0.000000
4        01.21    0.000000
383      53.20    0.006520
395      59.20    0.014449
374      50.40    0.038630
40       10.12    0.040471
459      88.10    0.045786
13       01.50    0.050943
401      62.03    0.053117
26       05.10    0.058811
393      59.13    0.059151
432      77.12    0.067082
35       08.92    0.072897
389      58.13    0.087899
454      85.41    0.093693
260      35.12    0.102694
258      33.20    0.114821
263      35.22    0.139983
37       08.99    0.167510
169      24.52    0.171201
437      77.35    0.176593
409      64.99    0.183016
405      64.19    0.203222
364      49.10    0.220942
336      46.76    0.226199
29       06.20    0.238390
470      95.12    0.246806
337      46.77    0.249816
466      93.29    0.250362
444      81.29    0.254894
28       06.10    0.261599
396      61.10    0.264636
190      26.12    0.296257
7        01.41    0.307045
12       01.49    0.327730
19       02.20    0.354713
331      46.71    0.373523
353      47.61    0.377510
438      77.39    0.393656
403      63.11    0.413209