In [4]:
import os
import pandas as pd

data_dir = "/Users/mac/Desktop/Study/Diploma/data"

In [10]:
tables = os.listdir(os.path.join(data_dir, "spark/raw_data"))

df = pd.read_csv(os.path.join(os.path.join(data_dir, "spark/raw_data"), tables[0]), sep=';', low_memory=False)

df.head()

,SparkID,INN,ShortNameEn,okveds,OKVED,Address_Region,Address_FiasRegion,Address_InputDate,Address_ActualDate,OKATO_RegionCode,...,Form_1_Field_300,Form_1_Field_623,Form_1_Field_625,Form_1_Field_690,Form_2_Field_010,Form_2_Field_190,Form_1_Field_610,Form_2_Field_100,Form_1_Field_510,Form_1_Field_590
0,4500012,3.123104e+09,"OOO ""NIKASTROI""","['01.2', '01.50', '01.70', '02.30.13', '02.40....",96.04,Белгородская обл.,31.0,2015-03-31,2022-04-21,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4500012,3.123104e+09,"OOO ""NIKASTROI""","['01.2', '01.50', '01.70', '02.30.13', '02.40....",96.04,Белгородская обл.,31.0,2015-03-31,2022-04-21,14,...,19522000.0,27000.0,NaN,19757000.0,NaN,-2000.0,7771000.0,0.0,NaN,NaN
2,4500012,3.123104e+09,"OOO ""NIKASTROI""","['01.2', '01.50', '01.70', '02.30.13', '02.40....",96.04,Белгородская обл.,31.0,2015-03-31,2022-04-21,14,...,9153000.0,4000.0,NaN,9145000.0,NaN,-242000.0,4523000.0,140000.0,NaN,NaN
3,4500012,3.123104e+09,"OOO ""NIKASTROI""","['01.2', '01.50', '01.70', '02.30.13', '02.40....",96.04,Белгородская обл.,31.0,2015-03-31,2022-04-21,14,...,27864000.0,28000.0,NaN,29109000.0,NaN,-242000.0,9628000.0,489000.0,NaN,NaN
4,4500012,3.123104e+09,"OOO ""NIKASTROI""","['01.2', '01.50', '01.70', '02.30.13', '02.40....",96.04,Белгородская обл.,31.0,2015-03-31,2022-04-21,14,...,19522000.0,27000.0,NaN,19757000.0,NaN,-892000.0,7771000.0,1658000.0,NaN,NaN