In [1]:
import os
import pandas as pd

root_dir = "/Users/mac/Desktop/Study/Diploma"
sys.path.append(root_dir)

from py_scripts.process_raw_customs import return_cleaned_data
from py_scripts.process_countries import prepare_table

pd.set_option("display.max_rows", 100)

In [2]:
def return_unique(x):
    return len(x.unique())

WITS_path = os.path.join(root_dir, "data/countries", "WITS_codes.xlsx")
RUS_path = os.path.join(root_dir, "data/countries", "rus_countries.csv")
codes = prepare_table(WITS_path, RUS_path)

codes.head()

  country_name RUS_ISO2 RUS_ISO3  code     country ISO3
0   АБХАЗИЯ[2]       AB      ABH   895         NaN  NaN
1    АВСТРАЛИЯ       AU      AUS    36   Australia  AUS
2      АВСТРИЯ       AT      AUT    40     Austria  AUT
3  АЗЕРБАЙДЖАН       AZ      AZE    31  Azerbaijan  AZE
4      АЛБАНИЯ       AL      ALB     8     Albania  ALB

In [11]:
data_path = os.path.join(root_dir, "data/gtd/gtd2005-2009/gtd2005.csv")

df = return_cleaned_data(data_path)

df.head()

1861425
1784437
Final size is 1777025

          INN   value  code   product
1  4025073336  1287.0   276  170490.0
2  5263044945    49.0   428       NaN
4  5263044945   152.0   428       NaN
6  5256051148     3.0   891       NaN
9  5256040474    41.0   440       NaN

In [12]:
table = df.groupby("code").agg({"INN": return_unique}).reset_index()\
        .sort_values(by="INN", ascending=False)

table = table.merge(codes, on="code", how="left")

table.head()

   code   INN country_name RUS_ISO2 RUS_ISO3     country ISO3
0   398  8999    КАЗАХСТАН       KZ      KAZ  Kazakhstan  KAZ
1   804  5902      УКРАИНА       UA      UKR     Ukraine  UKR
2   156  2937        КИТАЙ       CN      CHN       China  CHN
3   276  2625     ГЕРМАНИЯ       DE      DEU     Germany  DEU
4   440  2465        ЛИТВА       LT      LTU   Lithuania  LTU

In [13]:
table[:75]

,code,INN,country_name,RUS_ISO2,RUS_ISO3,country,ISO3
0,398,8999,КАЗАХСТАН,KZ,KAZ,Kazakhstan,KAZ
1,804,5902,УКРАИНА,UA,UKR,Ukraine,UKR
2,156,2937,КИТАЙ,CN,CHN,China,CHN
3,276,2625,ГЕРМАНИЯ,DE,DEU,Germany,DEU
4,440,2465,ЛИТВА,LT,LTU,Lithuania,LTU
5,860,2428,УЗБЕКИСТАН,UZ,UZB,Uzbekistan,UZB
6,428,2351,ЛАТВИЯ,LV,LVA,Latvia,LVA
7,233,1958,ЭСТОНИЯ,EE,EST,Estonia,EST
8,31,1877,АЗЕРБАЙДЖАН,AZ,AZE,Azerbaijan,AZE
9,246,1738,ФИНЛЯНДИЯ,FI,FIN,Finland,FIN
10,498,1655,"МОЛДОВА, РЕСПУБЛИКА",MD,MDA,Moldova,MDA
11,840,1466,СОЕДИНЕННЫЕ ШТАТЫ,US,USA,United States,USA
12,616,1367,ПОЛЬША,PL,POL,Poland,POL
13,417,1290,КИРГИЗИЯ,KG,KGZ,Kyrgyz Republic,KGZ
14,268,1257,ГРУЗИЯ,GE,GEO,Georgia,GEO
15,380,1137,ИТАЛИЯ,IT,ITA,Italy,ITA
16,792,987,ТУРЦИЯ,TR,TUR,Turkey,TUR
17,392,959,ЯПОНИЯ,JP,JPN,Japan,JPN
18,51,939,АРМЕНИЯ,AM,ARM,Armenia,ARM
19,762,896,ТАДЖИКИСТАН,TJ,TJK,Tajikistan,TJK
20,528,881,НИДЕРЛАНДЫ,NL,NLD,Netherlands,NLD
21,826,867,СОЕДИНЕННОЕ КОРОЛЕВСТВО,GB,GBR,United Kingdom,GBR
22,410,805,"КОРЕЯ, РЕСПУБЛИКА",KR,KOR,"Korea, Rep.",KOR
23,100,757,БОЛГАРИЯ,BG,BGR,Bulgaria,BGR
24,250,753,ФРАНЦИЯ,FR,FRA,France,FRA
25,203,729,ЧЕХИЯ,CZ,CZE,Czech Republic,CZE
26,496,700,МОНГОЛИЯ,MN,MNG,Mongolia,MNG
27,795,689,ТУРКМЕНИСТАН,TM,TKM,Turkmenistan,TKM
28,348,621,ВЕНГРИЯ,HU,HUN,Hungary,HUN
29,724,603,ИСПАНИЯ,ES,ESP,Spain,ESP
30,364,595,ИРАН (ИСЛАМСКАЯ РЕСПУБЛИКА),IR,IRN,"Iran, Islamic Rep.",IRN
31,356,570,ИНДИЯ,IN,IND,India,IND
32,376,503,ИЗРАИЛЬ,IL,ISR,Israel,ISR
33,56,493,БЕЛЬГИЯ,BE,BEL,Belgium,BEL
34,752,463,ШВЕЦИЯ,SE,SWE,Sweden,SWE
35,818,460,ЕГИПЕТ,EG,EGY,"Egypt, Arab Rep.",EGY
36,300,421,ГРЕЦИЯ,GR,GRC,Greece,GRC
37,40,400,АВСТРИЯ,AT,AUT,Austria,AUT
38,642,379,РУМЫНИЯ,RO,ROU,Romania,ROM
39,703,370,СЛОВАКИЯ,SK,SVK,Slovak Republic,SVK
40,208,343,ДАНИЯ,DK,DNK,Denmark,DNK
41,756,327,ШВЕЙЦАРИЯ,CH,CHE,Switzerland,CHE
42,124,308,КАНАДА,CA,CAN,Canada,CAN
43,891,300,СЕРБИЯ И ЧЕРНОГОРИЯ,CS,SER,Yugoslavia,SER
44,784,298,ОБЪЕДИНЕННЫЕ АРАБСКИЕ ЭМИРАТЫ,AE,ARE,United Arab Emirates,ARE
45,704,284,ВЬЕТНАМ,VN,VNM,Vietnam,VNM
46,578,263,НОРВЕГИЯ,NO,NOR,Norway,NOR
47,760,217,СИРИЙСКАЯ АРАБСКАЯ РЕСПУБЛИКА,SY,SYR,Syrian Arab Republic,SYR
48,158,205,ТАЙВАНЬ (КИТАЙ),TW,TWN,Taiwan,TWN
49,344,200,ГОНКОНГ,HK,HKG,"Hong Kong, China",HKG
50,196,195,КИПР,CY,CYP,Cyprus,CYP
51,4,189,АФГАНИСТАН,AF,AFG,Afghanistan,AFG
52,36,143,АВСТРАЛИЯ,AU,AUS,Australia,AUS
53,192,140,КУБА,CU,CUB,Cuba,CUB
54,12,138,АЛЖИР,DZ,DZA,Algeria,DZA
55,586,132,ПАКИСТАН,PK,PAK,Pakistan,PAK
56,702,132,СИНГАПУР,SG,SGP,Singapore,SGP
57,764,123,ТАИЛАНД,TH,THA,Thailand,THA
58,422,114,ЛИВАН,LB,LBN,Lebanon,LBN
59,705,112,СЛОВЕНИЯ,SI,SVN,Slovenia,SVN
60,191,106,ХОРВАТИЯ,HR,HRV,Croatia,HRV
61,620,104,ПОРТУГАЛИЯ,PT,PRT,Portugal,PRT
62,504,101,МАРОККО,MA,MAR,Morocco,MAR
63,408,100,"КОРЕЯ, НАРОДНО-ДЕМОКРАТИЧЕСКАЯ РЕСПУБЛИКА",KP,PRK,"Korea, Dem. Rep.",PRK
64,710,92,ЮЖНАЯ АФРИКА,ZA,ZAF,South Africa,ZAF
65,76,90,БРАЗИЛИЯ,BR,BRA,Brazil,BRA
66,372,90,ИРЛАНДИЯ,IE,IRL,Ireland,IRL
67,112,87,БЕЛАРУСЬ,BY,BLR,Belarus,BLR
68,458,86,МАЛАЙЗИЯ,MY,MYS,Malaysia,MYS
69,400,84,ИОРДАНИЯ,JO,JOR,Jordan,JOR
70,360,83,ИНДОНЕЗИЯ,ID,IDN,Indonesia,IDN
71,682,80,САУДОВСКАЯ АРАВИЯ,SA,SAU,Saudi Arabia,SAU
72,484,74,МЕКСИКА,MX,MEX,Mexico,MEX
73,887,63,ЙЕМЕН,YE,YEM,"Yemen, Rep.",YEM
74,788,62,ТУНИС,TN,TUN,Tunisia,TUN

In [9]:
data_path = "/Users/mac/Desktop/Study/Diploma/data/gtd/gtd_processed"

df = pd.read_parquet(os.path.join(data_path, "gtd2005.parquet"))

df.head()

          INN   value  code   product  year
1  4025073336  1287.0   276  170490.0  2005
2  5263044945    49.0   428       NaN  2005
4  5263044945   152.0   428       NaN  2005
6  5256051148     3.0   891       NaN  2005
9  5256040474    41.0   440       NaN  2005

In [23]:
df["product"].unique()

array([170490.,     nan, 401699., ..., 290543., 950810., 350710.])

In [11]:
df["product"].min(), df["product"].max()

(10110.0, 970500.0)